{% extends 'plantilla.html' %}
{% load static %}

{% block subtitulo %}
<h2 data-scroll-reveal="enter from the bottom after 0.1s" ><i class="fa fa-circle-o-notch"></i> Benvenido a CoderHouse <i class="fa fa-circle-o-notch"></i> </h2>
{% endblock subtitulo %}

{% block elemento_dinamico %}
<p style="font-weight: 5px; font-size: xx-large; margin-top: 25px; margin-bottom: 25px;"> <b> Buscador de Camadas </b></p>
    <form action="{% url 'buscar' %}" method="GET">{% csrf_token %}
        <p><input type="number" name="camada" id="camada"></p>
        <button type="submit">Buscar</button>
    </form> 
{% endblock elemento_dinamico %}