{% load static %}
<div class="home-sec" id="home" >
    <div class="overlay">
            <div class="container">
                <div class="row text-center " >
           
                    <div class="col-lg-12  col-md-12 col-sm-12">
               
                        <div class="flexslider set-flexi"  id="main-section" >
                            <ul class="slides move-me">
    
                            <li>
                                
                                <h1 style="padding-top: 100px;">Proyecto Pre-Entrega</h1>
                            </li>
   

                            </ul>
                        </div>
                   
     
              
              
            </div>
                
               </div>
                </div>
           </div>
           
       </div>
