{% load static %}
<div class="navbar navbar-inverse navbar-fixed-top " id="menu">
    <div class="container">
        <div class="navbar-collapse collapse move-me">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="{% url 'index' %}">Inicio</a></li> 
                <li><a href="{% url 'incripcion' %}">Inscripcion</a></li>
                <li><a href="{% url 'cursos' %}">Cursos</a></li>
                <li><a href="{% url 'entergables' %}">Entregables</a></li>
            </ul>
        </div>
       
    </div>
</div>